<% if @todo.errors.any? %>
	<h2>The following errors prevented the todo being saved :</h2>
	<ul style="color:red;">
		<% @todo.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @todo do |f| %>

  <p>
  	<%= f.label :name %> <br />
  	<%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :description %> <br />
  	<%= f.text_area :description, size: "60x12" %>
  </p>
	<%= f.submit %>
<% end %>

<p>
	<%= link_to "Back to todos listing", todos_path %>
</p>