<h1>Listing all todos</h1>

<p>
  <%= link_to "Create a Todo", new_todo_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @todos.each do |todo| %>
  <tr>
    <td><%= todo.name %></td>
    <td><%= todo.description %></td>
    <td><%= link_to "Edit", edit_todo_path(todo) %></td>
    <td><%= link_to "Show", todo_path(todo) %></td>
    <td><%= link_to "Delete", todo_path(todo), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>